<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ClienteServlet</display-name>
    <servlet-name>ClienteServlet</servlet-name>
    <servlet-class>controller.ClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClienteServlet</servlet-name>
    <url-pattern>/ClienteServlet</url-pattern>
  </servlet-mapping>
  <display-name>Agenciamvc</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>listaClienteServlet</display-name>
    <servlet-name>listaClienteServlet</servlet-name>
    <servlet-class>controller.listaClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listaClienteServlet</servlet-name>
    <url-pattern>/listaClienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DestinoServlet</display-name>
    <servlet-name>DestinoServlet</servlet-name>
    <servlet-class>controller.DestinoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DestinoServlet</servlet-name>
    <url-pattern>/DestinoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>passagemServlet</display-name>
    <servlet-name>passagemServlet</servlet-name>
    <servlet-class>controller.passagemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>passagemServlet</servlet-name>
    <url-pattern>/passagemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Promocoes</display-name>
    <servlet-name>Promocoes</servlet-name>
    <servlet-class>controller.Promocoes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Promocoes</servlet-name>
    <url-pattern>/Promocoes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PromocoesServlet</display-name>
    <servlet-name>PromocoesServlet</servlet-name>
    <servlet-class>controller.PromocoesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PromocoesServlet</servlet-name>
    <url-pattern>/PromocoesServlet</url-pattern>
  </servlet-mapping>
</web-app>